* {
    box-sizing: border-box;
}

body {
    display: block;
    margin: 0 70px;
}

.containerTombola {
    text-align: center;
}

.tabellone {
    text-align: center;
    width: 650px;
    margin: auto;
    
}

.tabellone .number {
    display: inline-block;
    width: 50px;
    line-height: 50px;
    border: 1px solid red;
    color: #cc122b;
    cursor: pointer;
    border-radius: 50%;
    background-color: #e2bb80;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}